<div class="container-fluid">
  <div class="row container-login test1">
    <div class="col-sm-auto test1">
        <div class="logo-text">
            <h1 class="logo-text">Bem vindo! Edição de cardapios!!</h1>
        </div>
      <form action="/cardapio/editar/<%= cardapio.id_cardapio %>" method="post" style="justify-content: center!important;
        align-items: center!important;">
        <div class="mb-3">
          <label for="nome_prato" class="form-label">Nome do Prato</label>
          <input
            type="text"
            class="form-control"
            id="nome_prato"
            name="nome_prato"
            value="<%= cardapio.nome_prato %>"
            required
          />
        </div>
        <div class="mb-3">
          <label for="tempo_preparo" class="form-label">Tempo de Preparo</label>
          <input
            type="time"
            class="form-control"
            id="tempo_preparo"
            name="tempo_preparo"
            value="<%= cardapio.tempo_preparo %>"

          />
        </div>
        <div class="mb-3">
          <label for="descricao_prato" class="form-label"
            >Descrição do Prato</label
          >
          <input
            class="form-control"
            id="descricao_prato"
            name="descricao_prato"
            value="<%= cardapio.descricao_prato %>"
          />
        </div>
        <div class="mb-3">
          <label for="valor_prato" class="form-label">Valor do Prato</label>
          <input
            type="number"
            class="form-control"
            id="valor_prato"
            name="valor_prato"
            value="<%= cardapio.valor_prato %>"
            required
          />
        </div>
        <div class="mb-3">
          <label for="categoria" class="form-label">Categoria</label>
          <input
            type="text"
            class="form-control"
            id="categoria"
            name="categoria"
            value="<%= cardapio.categoria %>"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary btn-car">Salvar Edição</button>
      </form>
      <div id="cadastro">
        <a href="/home">Deseja voltar para a home?</a>
      </div>
    </div>
  </div>
</div>
